*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
  display: inline-block;
}

.erasimg {
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  line-height: 1.5;
}

.logo {
  width: 35%;
  min-width: 150px;
  background: url(gap in time 1.png);
  padding-top: 15px;
}

.eras {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.smolwrap {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  min-width: 100px;
  margin: 10px;
}

.first {
  background: rgba(255, 255, 102, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second {
  background: rgba(9, 251, 211, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third {
  background: rgba(255, 192, 203, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.text2 {
  font-family: Rozha One;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 43px;
  text-decoration: none;
  color: #000000;
}

a:hover{ color: #FD9036; }
.maintext {
  font-family: Arial;
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  padding-left: 23%;
  padding-right: 20%;
}

footer {
  text-align: center;
  width: 100%;
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.paragraph {
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

.paragraph2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading {
  padding-top: 10px;
  padding-bottom: 10px;
}

.content_images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_wrap {
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}


.hyperlink1 {
  text-decoration: none;
  color: #F62CDF;
}

@media only screen and (min-device-width: 400px) {
  .content_images { width: 70%;
  }
}
